a{
    color: #000;
    transition: all 0.4s ease-in;
    text-decoration: none;
}

li{
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hdr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    background-color: #09b6b6;
}
    /* logo */
 .name{
    text-align: center;
    padding-bottom: 10px;
   
    
}

.name a:hover{
    color: #000;
    text-decoration: none;
}

.name h1{
    font-size: 2.5rem;
}

.name span{
    background-color: #fff;
    padding: 2px 8px;
    margin-left: 3px;
    text-align: center;
}

/* nav bar */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    transition: all 0.3s ease-in;
}

.menu li{
    margin: 10px 20px;
}

.menu a:hover{
    color: #000;
    text-decoration: none;
}

.menu li:hover{
    background-color: #fff;
    border-radius: 3px;
    padding: 0 1px;
    color: #000;
    
}

/* label */
#menu{
    display: none;
}

.hdr label{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    display: none;
}

.hdr label i{
    font-size: 1.7rem;
}


/* product */
.container{
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    margin: 20px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s ease-in;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(200px at 130% 50%);
   background: #ac5712;
   transition: all 0.5s ease-in;
}

.container .card:nth-child(1)::before{
    background-color: aqua;
}

.container .card:nth-child(2)::before{
    background-color: rgb(84, 17, 207);
}

.container .card:nth-child(3)::before{
    background-color: rgb(212, 150, 14);
}

.container .card::after{
    content: 'TD Club';
    position: absolute;
    top: 10%;
    left: 0;
    transform: rotate(-35deg);
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(255,255,255, 0.04);
}

.container .card:hover::before{
    clip-path: circle(300px at 130% 50%);

}

.card .imbox{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 20%;
    padding-top: 20px;
    overflow: hidden;
    z-index: 10;
    transition: all 0.5s ease-in;
}

.card:hover .imbox{
    top: 0;
    transform: translateY(0%);
}

.card .imbox img{
    width: 100%;
    height: 100%;
}

.card .contentbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 8;
    transition: all 0.8s ease-in;
    color:white;
    font-weight: 500;
}

.card:hover .contentbox{
    height: 150px;
}

.card .contentbox h2{
    position: relative;
    bottom: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: rgb(233, 22, 103);
}

.card .contentbox .pc{
    display: flex;
    align-items: center;
    height: 52px;
    width: 100%;
    margin: 6px 0;
}

.card .contentbox .pc .price{
    width: 50%;
    height: 100%;
    padding: 6px 0;
    text-align: center;
    transition: all 0.6s ease-in;
}

.card:nth-child(1) .contentbox .pc .price{
    background-color: rgb(126, 208, 233);
}

.card:nth-child(2) .contentbox .pc .price{
    background-color: rgb(183, 153, 218);
}

.card:nth-child(3) .contentbox .pc .price{
    background-color: rgb(233, 193, 85);
}

.card .contentbox .price h5 strike{
    color: rgb(180, 44, 44);
}

.card .contentbox .color{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
}

.card .contentbox .color span{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50px;
    margin-left: 5px;
    background-color: darkblue;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card .contentbox .pc .color span:nth-child(2){
    background: rgb(43, 71, 196);
}
.card .contentbox .pc .color span:nth-child(3){
    background: rgb(252, 255, 255);
}
.card .contentbox .pc .color span:nth-child(4){
    background: rgb(8, 157, 177);
}

.card .contentbox .btn{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    visibility: hidden;

}

.card:hover .contentbox .btn{
    opacity: 1;
    visibility: visible;
}

.card .contentbox .btn a{
    width: 50%;
    padding: 5px 0;
    font-size: 0.9rem;
    text-decoration: none;
    color: azure;
    font-weight: 500;
    outline: none;
    transition: all 0.5s ease-in;
}

.card:nth-child(1) .contentbox .btn a:nth-child(1){
    background-color: rgb(94, 194, 233);
}

.card:nth-child(2) .contentbox .btn a:nth-child(1){
    background-color: rgb(195, 104, 236);
}
.card:nth-child(3) .contentbox .btn a:nth-child(1){
    background-color: rgb(211, 188, 60);
}

.card .contentbox .btn a:nth-child(2){
   background: #232323;
}

.card:nth-child(1) .contentbox .btn a:hover,
.card:nth-child(2) .contentbox .btn a:hover,
.card:nth-child(3) .contentbox .btn a:hover{
   background: #fff;
   color: black;
   font-weight: 1000;
}


/* responsive */
@media(max-width: 1020px){
    /* header */
    .hdr{
        flex-direction: column;
    }

}

@media(max-width: 980px){
    .hdr{
        flex-direction: column;
    }

    .hdr .menu{
        position: absolute;
        align-items: center;
        background-color: #30a5a3;
        width: 100%;
        flex-direction: column;
        padding: 20px 0px;
        top: 100px;
        /* max-height: 0; */
        overflow: hidden;
        transition: all 0.3s ease-in;
        z-index: 10;
        left: -100%;

    }

    .hdr .menu li{
        margin: 10px 0;
    }

    .hdr label:nth-child(2){
        display: block;
    }
    
    /* mobile menu */
 #menu:checked ~ .menu{
    left: 0;
    max-height: 100%;
 }

 #menu:checked ~ label:nth-child(2){
    display: none;
 }


 #menu:checked ~ label:nth-child(3){
    display: block;
 }

}